doctype html
html(lang="en")
  head
    meta(charser="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/styles.css")
  body
    div(class="w-full h-screen flex relative select-none")
      button(class="w-[150px] absolute right-2 bg-blue-500 text-[#fff] rounded-[10px] p-[10px] top-[10px]" onclick="handleOpenModal()") Edit
      include ../mixins/modal/modal
      include ../mixins/modal/components/taskModal
      include ../mixins/modal/components/editModal
      include ../components/menu
      +modal(editModal, taskModal, taskData)

      div(class="w-full text-center")
       div
        span(class="text-[green] uppercase font-bold") title----
        span= taskData.title
       div
        span(class="text-[green] uppercase font-bold") description----
        span= taskData.description
       div
        span(class="text-[green] uppercase font-bold") status----
        span= taskData.status
       div
        span(class="text-[green] uppercase font-bold") priority----
        span= taskData.priority
       div
        span(class="text-[green] uppercase font-bold") assignee----
        span= taskData.assignee
       
       div(class="mt-[30px] text-[green] font-bold") UPDATE HISTORY
       each item in taskData.updateHistory
        div(class="w-full text-center mt-[5px]")
          p(class="text-[green] text-[18px]")= item.date 
          p(class="text-[15px]")= item.description