mixin table(tasks)
  table(class="mx-auto w-[80%]")
    thead
        tr
        th Title
        th Priority
        th Status
        th Assignee
        th Created
        th Due Date
    tbody
        each item in tasks
          tr
          td(class="text-center") 
            a(href=`/taskDetails?id=${item._id}`) #{item.title}
          td(class="text-center")= item.priority
          td(class=`text-center ${item.status==="in progress" && "text-[#008000]"} ${item.status==="completed" && "text-[#FF0000]"}`)= item.status
          td(class="text-center")= item.assignee
          td(class="text-center")= item.created
          td(class="text-center")= item.deadline
