mixin table(tasks, infoData)
  table(class="mx-auto w-[80%]")
    thead
        tr
        th Title
        th Priority
        th Status
        th Assignee
        th Created
        th Due Date
        th Completed
    tbody
        each item in tasks
          tr
          td(class="text-center") 
            a(href=`/taskDetails?id=${item._id}&&state=${infoData.length===1 ? infoData[0].status : "task"}`) #{item.title}
          td(class="text-center")= item.priority
          td(class=`text-center ${item.status==="in progress" && "text-[#008000]"} ${item.status==="completed" && "text-[#FF0000]"}`)= item.status
          td(class="text-center")= item.assignee
          td(class="text-center")= new Date(item.created).toLocaleDateString("en-GB")
          td(class="text-center")= new Date(item.deadline).toLocaleDateString("en-GB")
          td(class="text-center")= item.completed ? new Date(item.completed).toLocaleDateString("en-GB") : ""
